body {
  background-color: #f0f0f0;
  color: #333333;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid #ccc;
}

.left {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.left .name {
  font-weight: 700; /* kalın */
  font-size: 20px;
}

.left .role {
  font-weight: 300; /* ince */
  font-size: 16px;
  color: #555;
}

.right a {
  margin-left: 30px;
  text-decoration: none;
  color: #333;
  font-weight: 400;
  transition: color 0.3s;
}

.right a:hover {
  color: #000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0;
}

.profile-image {
  width: 300px; /* Daha büyük bir profil resmi */
  height: 300px; /* Profil resminin yüksekliği */
  object-position: top; /* Resmin üst kısmını gösterir */
  border-radius: 10%;
  margin-right: 20px; /* Resmin sağında boşluk */
}

.text-section {
  max-width: 600px; /* Metnin boyutunu sınırlamak */
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #333333;
}
